In [1]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
#모델의 성능파악하기 위해
from sklearn.metrics import mean_squared_error

In [2]:
import pandas as pd

In [3]:
boston_house_dataset = datasets.load_boston()

In [6]:
#여러 특성을 가지고 있는 데이터프레임을 인풋으로 
X=pd.DataFrame(boston_house_dataset.data, columns= boston_house_dataset.feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [11]:
# 그중에서 범죄율을 입력변수로 넣어보겠다.
X=X[['CRIM']]
X.head()

      CRIM
0  0.00632
1  0.02731
2  0.02729
3  0.03237
4  0.06905

In [13]:
# 타겟 y는 주택의 중앙값
y =pd.DataFrame(boston_house_dataset.target, columns=['MEDV'])
y

     MEDV
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

In [14]:
# train_test_set 나누기
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)

In [15]:
#선형회귀모델 생성
model = LinearRegression()

In [16]:
# trainset을 넣고 학습
model.fit(X_train, y_train)

LinearRegression()

In [17]:
# test set을 넣고 예측
y_test_predict = model.predict(X_test)

In [19]:
# 모델을 평가
mean_squared_error(y_test, y_test_predict) ** 0.5

8.180697228317348